{{ if eq .Kind "home" }}
<title itemprop="name">{{ .Site.Title | htmlEscape }}</title>
<meta property="og:title" content="{{ .Site.Title | htmlEscape }}" />
<meta name="twitter:title" content="{{ .Site.Title | htmlEscape }}" />
<meta itemprop="name" content="{{ .Site.Title | htmlEscape }}" />
<meta name="application-name" content="{{ .Site.Title | htmlEscape }}" />
<meta property="og:site_name" content="{{ .Site.Title | htmlEscape }}" />

<meta name="description" content="{{ .Site.Params.description | htmlEscape }}" />
<meta itemprop="description" content="{{ .Site.Params.description | htmlEscape }}" />
<meta property="og:description" content="{{ .Site.Params.description | htmlEscape }}" />
<meta name="twitter:description" content="{{ .Site.Params.description | htmlEscape }}" />

<link rel="canonical" href="{{ .Permalink | htmlEscape }}" />
<meta name="url" content="{{ .Permalink | htmlEscape }}" />
<meta name="twitter:url" content="{{ .Permalink | htmlEscape }}" />
<meta property="og:url" content="{{ .Permalink | htmlEscape }}" />

<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />

{{ else if eq .Kind "page" }}
<title itemprop="name">{{ .Title | htmlEscape }} | {{ .Site.Title | htmlEscape }}</title>
<meta property="og:title" content="{{ .Title | htmlEscape }} | {{ .Site.Title | htmlEscape }}" />
<meta name="twitter:title" content="{{ .Title | htmlEscape }} | {{ .Site.Title | htmlEscape }}" />
<meta itemprop="name" content="{{ .Title | htmlEscape }} | {{ .Site.Title | htmlEscape }}" />
<meta name="application-name" content="{{ .Title | htmlEscape }} | {{ .Site.Title | htmlEscape }}" />
<meta property="og:site_name" content="{{ .Site.Title | htmlEscape }}" />

{{ $description := .Params.description | default .Summary | default .Site.Params.description }}
<meta name="description" content="{{ $description | htmlEscape }}" />
<meta itemprop="description" content="{{ $description | htmlEscape }}" />
<meta property="og:description" content="{{ $description | htmlEscape }}" />
<meta name="twitter:description" content="{{ $description | htmlEscape }}" />

<meta property="og:updated_time" content="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" />

{{ with .Params.cover }}
  {{ $coverUrl := printf "https://img.doodcdn.co/snaps/%s" . }}
  <meta itemprop="image" content="{{ $coverUrl | htmlEscape }}" />
  <meta property="og:image" content="{{ $coverUrl | htmlEscape }}" />
  <meta name="twitter:image" content="{{ $coverUrl | htmlEscape }}" />
  <meta name="twitter:image:src" content="{{ $coverUrl | htmlEscape }}" />
{{ end }}

<link rel="canonical" href="{{ .Permalink | htmlEscape }}" />
<meta name="url" content="{{ .Permalink | htmlEscape }}" />
<meta name="twitter:url" content="{{ .Permalink | htmlEscape }}" />
<meta property="og:url" content="{{ .Permalink | htmlEscape }}" />

<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />

{{ else if or (eq .Kind "taxonomy") (eq .Kind "taxonomyTerm") }}
<title itemprop="name">{{ .Title | htmlEscape }} | {{ .Site.Title | htmlEscape }}</title>
<meta property="og:title" content="{{ .Title | htmlEscape }} | {{ .Site.Title | htmlEscape }}" />
<meta name="twitter:title" content="{{ .Title | htmlEscape }} | {{ .Site.Title | htmlEscape }}" />
<meta itemprop="name" content="{{ .Title | htmlEscape }} | {{ .Site.Title | htmlEscape }}" />
<meta name="application-name" content="{{ .Title | htmlEscape }} | {{ .Site.Title | htmlEscape }}" />
<meta property="og:site_name" content="{{ .Site.Title | htmlEscape }}" />

<meta name="description" content="{{ .Site.Params.description | htmlEscape }}" />
<meta itemprop="description" content="{{ .Site.Params.description | htmlEscape }}" />
<meta property="og:description" content="{{ .Site.Params.description | htmlEscape }}" />
<meta name="twitter:description" content="{{ .Site.Params.description | htmlEscape }}" />

<link rel="canonical" href="{{ .Permalink | htmlEscape }}" />
<meta name="url" content="{{ .Permalink | htmlEscape }}" />
<meta name="twitter:url" content="{{ .Permalink | htmlEscape }}" />
<meta property="og:url" content="{{ .Permalink | htmlEscape }}" />

<meta name="robots" content="noindex,follow" />
<meta name="googlebot" content="noindex,follow" />

{{ else }}
<title itemprop="name">{{ .Site.Title | htmlEscape }}</title>
<meta property="og:title" content="{{ .Site.Title | htmlEscape }}" />
<meta name="twitter:title" content="{{ .Site.Title | htmlEscape }}" />
<meta itemprop="name" content="{{ .Site.Title | htmlEscape }}" />
<meta name="application-name" content="{{ .Site.Title | htmlEscape }}" />
<meta property="og:site_name" content="{{ .Site.Title | htmlEscape }}" />

<meta name="description" content="{{ .Site.Params.description | htmlEscape }}" />
<meta itemprop="description" content="{{ .Site.Params.description | htmlEscape }}" />
<meta property="og:description" content="{{ .Site.Params.description | htmlEscape }}" />
<meta name="twitter:description" content="{{ .Site.Params.description | htmlEscape }}" />

<link rel="canonical" href="{{ .Permalink | htmlEscape }}" />
<meta name="url" content="{{ .Permalink | htmlEscape }}" />
<meta name="twitter:url" content="{{ .Permalink | htmlEscape }}" />
<meta property="og:url" content="{{ .Permalink | htmlEscape }}" />

<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />
{{ end }}