{{ define "main" }}
  <div class="container-video-list">
{{ range .Paginator.Pages }}
  {{ if ne .Section "pages" }}
      <div class="card-video-item">
        <a href="{{ .RelPermalink }}">
          <div class="thumbnail-video">
            <img 
            src="{{ .Site.Params.cover_link }}{{ .Params.cover }}" 
            alt="{{ .Params.title }}"
            onerror="this.onerror=null;this.src='logo.png';"
            loading="lazy">
          </div>
          <div class="title-video">{{ .LinkTitle }}</div>
        </a>
      </div>
    {{ end }}
    {{ end }}
    
  </div>
  
  
  {{ template "_internal/pagination.html" . }}
{{ end }}


