.pagination {
  display: flex;
  list-style: none;
  padding: 10px;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  justify-content: center;
  font-size: 12px;
}

.page-item {
  margin: 0 3px;
  width: auto;
}

.page-link {
  display: inline-block;
  padding: 6px 9px;
  color: #007bff;
  text-decoration: none;
  border: 2px solid black;
  box-shadow: 2px 2px 0 #000;
  background-color: orange;
  
}

.page-link:hover {
  background-color: #f8f9fa;
  color: black;
}

.page-item.disabled .page-link {
  color: #6c757d;
  cursor: not-allowed;
  background-color: orange;
}

.page-item.active .page-link {
  color: #fff;
  background-color: purple;
  border-color: black;
}

.page-link[aria-disabled="true"] {
  pointer-events: none;
}

.page-link span[aria-hidden="true"] {
//  font-size: 1px;
  font-weight: bold;
}