.container-video-list {
    display: grid;
    gap: 10px;
    padding: 10px;
    background-color: #f7f7f7;
    flex: 1;
    max-width: 100%; /* Pastikan kontainer tidak melebihi lebar perangkat */
    box-sizing: border-box; /* Hindari overflow karena padding */
}

/* Tampilan mobile: 2 kolom */
@media (max-width: 768px) {
    .container-video-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tampilan non-mobile: 6 kolom */
@media (min-width: 769px) {
    .container-video-list {
        grid-template-columns: repeat(6, 1fr);
    }
}

.card-video-item {
    background-color: #EEEEEE;
    border: 2px solid #000;
    box-shadow: 3px 3px 0 #000;
    transition: transform 0.1s;
    overflow: hidden; /* Hindari konten keluar dari batas */
}

.card-video-item:hover {
    transform: translate(-2px, -2px);
}

.card-video-item a {
    text-decoration: none;
    color: #000;
}

.thumbnail-video {
    position: relative;
    margin-bottom: 5px;
    background-color: #e3e3e3;
}

.thumbnail-video img {
    border-bottom: black 2px solid;
    width: 100%; /* Pastikan gambar mengikuti ukuran kolom */
    height: 175px; /* Pertahankan proporsi asli */
   // max-height: 150px; /* Batasi tinggi maksimal agar gambar tidak terlalu besar */
    object-fit: cover; /* Isi ruang tanpa distorsi */
}

.title-video {
    font-size: 0.8rem;
    //font-weight: bold;
    margin-bottom: 5px;
    padding: 10px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 1rem; /* atau sesuai kebutuhan */
  text-align: center;
}

main {
    background-color: #f7f7f7;
    max-width: 100%; /* Tambahkan batas untuk elemen utama */
    overflow-x: hidden; /* Hilangkan scroll horizontal jika ada */
}