/* CSS untuk desain brutalism responsive */
.container-video-list {
    display: grid;
    gap: 10px;
    padding: 10px;
    background-color: #f7f7f7;
  
  }
  
  /* Tampilan mobile: 2 kolom */
  @media (max-width: 768px) {
    .container-video-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Tampilan non-mobile: 6 kolom */
  @media (min-width: 769px) {
    .container-video-list {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  
  .card-video-item {
    background-color: #EEEEEE;
    border: 2px solid #000;
    box-shadow: 3px 3px 0 #000;
    transition: transform 0.1s;
  }
  
  .card-video-item:hover {
    transform: translate(-2px, -2px);
  }
  
  .card-video-item a {
    text-decoration: none;
    color: #000;
  }
  
  .thumbnail-video {
    position: relative;
    margin-bottom: 5px;
    background-color: #e3e3e3;
  }
  
  .thumbnail-video img {
    border-bottom: black 2px solid;
    width: 100%;
    height: 180*1.1px;
    object-fit: cover;
  }
  
  .title-video {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0.5rem;
  }
  main{
    //padding: rem;
    background-color: #f7f7f7;
  }