@import "reset";

@import "header";
@import "home";
@import "pagination";
@import "result";
@import "detail";
@import "tags";
@import "taxonomy";
@import "footer";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: #f7f7f7;
  font-family: "Roboto Mono", monospace;
  a{
    text-decoration: none;
  }
}

.page-site{
  padding: 1em;
  h1, h2, h3, h4{
    font-size: 21px;
  }
}