{{ $related := .Site.RegularPages.Related . | first 12 }}
{{ $relatedCount := len $related }}
{{ if lt $relatedCount 12 }}
  {{ $relatedPermalinks := slice }}
  {{ range $related }}
    {{ $relatedPermalinks = $relatedPermalinks | append .RelPermalink }}
  {{ end }}
  {{ $additional := where .Site.RegularPages "RelPermalink" "not in" $relatedPermalinks | shuffle | first (sub 12 $relatedCount) }}
  {{ $related = $related | append $additional }}
{{ end }}

<div class="container-video-list">
  {{ range $related }}
    <div class="card-video-item">
      <a href="{{ .RelPermalink }}">
        <div class="thumbnail-video">
          <img
            src="{{ .Site.Params.cover_link }}{{ .Params.cover }}"
            alt="{{ .Params.title }}"
            loading="lazy">
        </div>
        <div class="title-video">{{ .LinkTitle }}</div>
      </a>
    </div>
  {{ end }}
</div>